[submodule "coms-android/Kotlin-BLE-Library"]
	path = coms-android/Kotlin-BLE-Library
	url = git@github.com:csbehrend/Kotlin-BLE-Library.git
[submodule "coms-android/Android-nRF-Toolbox"]
	path = coms-android/Android-nRF-Toolbox
	url = git@github.com:csbehrend/Android-nRF-Toolbox.git
